<nav class="navbar navbar-inverse header">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Avis Budget Group</a>
    </div>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a routerLinkActive="navigation-active" [routerLink]="['./admin']">Admin</a>
      </li>
      <li class="nav-item"><a routerLinkActive="navigation-active" [routerLink]="['./admin']">Help</a></li>
    </ul><!-- 
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul> -->
  </div>
</nav>


<!--  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Another link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li>
  </ul> -->